body {
	background:#59bfd3;	
	margin:0px;
	padding:0px;
	font-family:Arial;
}

#loading
{
	margin-top: 22px;
	margin-left: 390px;
	position: absolute;
	width: 30px;
	display:none;
}

#omni_wrapper
{
	padding:10px;
    margin:0px;
    padding:0px;
    width:600px;
    float:left;
}

#omni_submit
{
background: #ECECEC;
border: 2px solid #ECECEC;
cursor: pointer;
padding: 10px;
font-size: 20px;
border-radius: 10px;
margin-left: 10PX;
}

#omni_query
{
	border-radius:10px;
	padding:10px;
	width:400px;
	font-size:20px;
}

#autocomplete_options
{
	position: absolute;
	background: white;
	min-width: 405px;
	border-radius: 10px;
	padding: 10px;
	display:none;
}

.auto_option
{
	padding:5px;
	margin:5px;
	background:#ECECEC;
	cursor:pointer;
}

.auto_option:hover
{
	padding:4px;
	border:1px solid #333;
	color:#333;
}
#overlay
{
	display:none;
	background:rgba(0,0,0,0.5);
	position:fixed;
	width:100%;
	height:100%;
	z-index:10;
}

#export_options
{
	display:none;
	float:left;
	width:400px;
	
}
#export_options ul
{
	list-style:none;
	margin:0px;
	padding:0px;
}

#export_options ul li
{
padding: 5px;
margin: 5px;
cursor: pointer;
float: left;
background: white;
border-radius: 5px;
}

#export_options ul li:hover
{
	background:#CFCFCF;

}
#litebox
{
	display:none;
	position:fixed;
	background:#FFF;
	width:300px;
	height:100px;
	margin-left:350px;
	z-index:100;	
	margin-top:100px;
	padding:10px;
	text-align:center;
}


#wrapper
{
	width:1200px;
	margin:0 auto;
}

#leftsidebar
{
	width:1180px;
	float:left;
	background:#59bfd3;
	padding:10px;
}

#content
{
	float:right;
	width:1200px;
	min-height:400px;
}

#view_choose
{
	float:left;
	width:1200px;
	display:none;
}

#view_choose ul
{
	list-style:none;
	width:500px;
	float:left;
	padding:0px;
	margin:0px;
}

#view_choose ul li
{
	float: left;
	margin: 10px;
	cursor: pointer;
	background: white;
	padding: 10px;
	border-radius: 10px;
}

#view_choose ul li:hover
{
	background:#000;
	color:#FFF;
}

#networkview
{
	
	float:left;
	width:1180px;
	height:1000px;
	padding:10px;
	background:#ABCFD6;
}

#networkview2
{
	margn-left:10px;
	float:left;
	width:1180px;
	height:1000px;
	padding:10px;
	display:none;
	
}

#hover_data
{
	position:absolute;
	background:#ECECEC;
	color:#333;
	border-radius:10px;
	padding:7px;
	box-shadow: 0px 0px 10px 0px black;
	display:none;
}

#close
{
	cursor:pointer;
}

#close_data
{
	float:right;
	cursor:pointer;
}
#show_data
{
	cursor:pointer;
}
#hover_tooltip
{
	position: absolute;
	background: #ECECEC;
	color: #333;
	width: 130px;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px black;
	display:none;
}

#tabulardata
{
	float:left;
	width:1180px;
	height:1000px;
	padding:10px;
	display:none;
	
}

#filterview
{
	display: block;
position: absolute;
background: rgba(0, 0, 0, 0.9);
width: 1200px;
margin-top: 60px;
display:none;
color:#FFF;
z-index:100;
}

.filter_list
{
	float: left;
width: 300px;
list-style: none;
margin: 0px;
padding: 0px;
}

#deselect_all
{
	text-decoration: underline;
color: #ECECEC;
cursor: pointer;
float: left;
width: 300px;
}

.filter_option
{
	padding:3px;
	margin:2px;
	cursor:pointer;
}

#sidebar
{
	border-left:5px solid #59bfd3;
	width:290px;
	float:left;
	padding-left:5px;
	color:#FFF;
	background:#ABCFD6;
	
	min-height:600px;
	font-weight:bold;	
}

#sidebar a
{
	color:#333;
}

#main
{
	list-style:none;
}

#main li
{
	float:left;
	margin:5px;
	padding:10px;
	border:1px solid #000;
	cursor:pointer;
}

#main li:hover
{
	background:#000;
	color:#FFF;
}
