body {
	background:#e6e6e6;	
}
#wrapper
{
	width:1000px;
	margin:0 auto;
}

#leftsidebar
{
	width:200px;
	float:left;
	min-height:400px;
}

#content
{
	float:right;
	width:800px;
	min-height:400px;
}

#networkview
{
	width:800px;
	height:600px;
	background:#000;
}

#main
{
	list-style:none;
}

#main li
{
	float:left;
	margin:5px;
	padding:10px;
	border:1px solid #000;
}
